.cards {
display: flex;
flex-direction: row;
justify-content: center;
background-color: #FAECD6;
}


.card:hover {
  -ms-transform: scale(1.15); 
  -webkit-transform: scale(1.15); 
  transform: scale(1.15);
}


.card {
  padding: 12px;
  justify-content: space-between, center;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
  border-radius: 8px;
  margin: 20px 10px;
  flex-basis: 110px;
  width: 500px;
  transition: transform .3s;
  background-color: #ABC9E4;
}

.coteacote{
  display: flex;
  flex-direction: row;
  /*align-items: center;*/
  justify-content: center;

}

.card img {
  width: 380px;
  border-radius: 8px;


}

.card h3 {
  flex-grow: 1;
  padding-left: 50px;
  font-size: 24px;
  
}

#matière{

  margin-left: 30%;
}



#video {

  margin-left: 30%;
}